n8n-workflows/workflow-4-voipline-email-monitor.json
{
  "name": "PRISONCALL - WF4 VoipLine Email Monitor",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Sydney"
  },
  "pinData": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyX", "value": 5, "unit": "minutes" }] },
        "output": "fields",
        "fields": ["id", "subject", "bodyPreview", "body", "from", "receivedDateTime"],
        "filters": {}
      },
      "id": "wf4-trigger",
      "name": "Outlook Trigger (voipline@ every 5 min)",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [-100, 320],
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "REPLACE_OUTLOOK_CRED", "name": "Microsoft Outlook (voipline@prisoncall.com.au)" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Classify an inbound email from VoipLine/VoipCloud about a Request Numbers order.\nconst d = $json;\nconst from = String((d.from && d.from.emailAddress && d.from.emailAddress.address) || d.sender || d.fromAddress || '').toLowerCase();\nconst subject = String(d.subject || '');\nconst bodyText = String((d.body && d.body.content) || d.bodyPreview || d.text || '');\nconst blob = (subject + ' ' + bodyText).toLowerCase();\nconst isVoipline = from.includes('voipcloud') || from.includes('voipline') || blob.includes('voipcloud') || blob.includes('voipline');\n\n// Extract an Australian DID from the body (matches 0xxxxxxxxx, 61xxxxxxxxx or +61...).\nconst compact = bodyText.replace(/[\\s\\-()]/g, '');\nconst m = compact.match(/(?:\\+?61|0)[2-8]\\d{8}/);\nconst did = m ? m[0].replace(/^\\+?61/, '0') : '';\n\nlet classification = 'ignore';\nif (isVoipline) {\n  if (did && /(sourced|provisioned|available|confirmed|allocated|ready|activated)/.test(blob)) {\n    classification = 'confirmation';\n  } else if (/(instead|alternative|suggest|different exchange|propose|nearest)/.test(blob)) {\n    classification = 'counter_suggestion';\n  }\n}\n\nreturn [{ json: { message_id: d.id, from_address: from, subject: subject, classification: classification, extracted_did: did, body_preview: d.bodyPreview || '' } }];"
      },
      "id": "wf4-classify",
      "name": "Classify VoipLine Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [140, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-conf",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "confirmation",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "wf4-is-confirmation",
      "name": "Is confirmation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [360, 320]
    },
    {
      "parameters": {
        "jsCode": "// CONFIRMATION received - a number was sourced. Resume Workflow 1 Path B from the 3CX setup step.\n// CORRELATION: at live integration the pending subscriber (prison/mobile/email/subscription) is\n// looked up from the Path B pending store keyed by the order. Mocked here with the extracted DID.\nconst d = $json;\nconst did = String(d.extracted_did || '').replace(/^\\+/, '');\nconst extension = 103; // live integration queries 3CX for next free extension\nconst threeCX = {\n  mocked: true,\n  success: true,\n  resumed_from: 'WF1 Path B',\n  steps: [\n    { step: 'create_extension', extension: extension, ok: true },\n    { step: 'assign_did', did: did, ok: true },\n    { step: 'configure', also_ring_my_mobile: true, no_answer_timeout_seconds: 15, forward_external_calls_to: 'Send Busy', voicemail_enabled: false, ok: true },\n    { step: 'set_outbound_caller_id', outbound_caller_id: did, ok: true }\n  ]\n};\nreturn [{ json: { ...d, did: did, threeCX_extension: extension, threeCX } }];"
      },
      "id": "wf4-mock-3cx",
      "name": "Mock 3CX Setup (resume Path B)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 180]
    },
    {
      "parameters": {
        "jsCode": "// Notify owner the sourced number was provisioned. Customer SMS/email send once the pending\n// subscriber record is correlated (live integration) - mobile/email not present on the email itself.\nconst helpers = this.helpers;\nconst d = $json;\nconst auth = 'Basic ' + Buffer.from($env.CLICKSEND_USERNAME + ':' + $env.CLICKSEND_API_KEY).toString('base64');\nconst text = 'PRISONCALL: VoipLine sourced number ' + d.did + '. 3CX extension provisioned (mock). Confirm subscriber correlation and customer notification.';\nconst resp = await helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rest.clicksend.com/v3/sms/send',\n  headers: { Authorization: auth, 'Content-Type': 'application/json' },\n  body: { messages: [{ source: 'n8n', from: $env.CLICKSEND_DEDICATED_NUMBER, to: $env.OWNER_MOBILE, body: text }] },\n  json: true\n});\nreturn [{ json: { ...d, owner_sms: resp } }];"
      },
      "id": "wf4-owner-sms",
      "name": "ClickSend Owner: Number Sourced",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-counter",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "counter_suggestion",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "wf4-is-counter",
      "name": "Is counter-suggestion?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 460]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $json.message_id }}",
        "comment": "=Thank you. Yes, we accept the suggested exchange. Please proceed with sourcing the number and confirm once it is active.",
        "additionalFields": {}
      },
      "id": "wf4-reply-accept",
      "name": "Outlook: Accept Suggested Exchange",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [820, 380],
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "REPLACE_OUTLOOK_CRED", "name": "Microsoft Outlook (voipline@prisoncall.com.au)" }
      }
    },
    {
      "parameters": {},
      "id": "wf4-noop-monitor",
      "name": "Continue monitoring",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 380]
    },
    {
      "parameters": {},
      "id": "wf4-noop-ignore",
      "name": "Ignore (not relevant)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [820, 560]
    },
    {
      "parameters": {
        "content": "## Workflow 4 - VoipLine Email Monitor\nPolls voipline@prisoncall.com.au every 5 minutes (Microsoft Outlook trigger).\n\n- **Confirmation** (number sourced): extract DID -> resume WF1 Path B from 3CX setup -> notify owner. Customer notification fires after correlating the pending subscriber record (live integration).\n- **Counter-suggestion** (different exchange proposed): auto-reply accepting, keep monitoring.\n- **No response within 24h**: handled by WF1 Path B (Wait 24h -> owner alert). WF1 and WF4 are tightly coupled.",
        "height": 260,
        "width": 440
      },
      "id": "wf4-note",
      "name": "About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-120, 0]
    }
  ],
  "connections": {
    "Outlook Trigger (voipline@ every 5 min)": {
      "main": [[{ "node": "Classify VoipLine Email", "type": "main", "index": 0 }]]
    },
    "Classify VoipLine Email": {
      "main": [[{ "node": "Is confirmation?", "type": "main", "index": 0 }]]
    },
    "Is confirmation?": {
      "main": [
        [{ "node": "Mock 3CX Setup (resume Path B)", "type": "main", "index": 0 }],
        [{ "node": "Is counter-suggestion?", "type": "main", "index": 0 }]
      ]
    },
    "Mock 3CX Setup (resume Path B)": {
      "main": [[{ "node": "ClickSend Owner: Number Sourced", "type": "main", "index": 0 }]]
    },
    "Is counter-suggestion?": {
      "main": [
        [{ "node": "Outlook: Accept Suggested Exchange", "type": "main", "index": 0 }],
        [{ "node": "Ignore (not relevant)", "type": "main", "index": 0 }]
      ]
    },
    "Outlook: Accept Suggested Exchange": {
      "main": [[{ "node": "Continue monitoring", "type": "main", "index": 0 }]]
    }
  }
}
