n8n-workflows/workflow-3-did-change.json
{
  "name": "PRISONCALL - WF3 DID Change / Prison Transfer",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Sydney"
  },
  "pinData": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "did-change",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf3-webhook",
      "name": "Portal Webhook (DID change request)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-120, 360],
      "webhookId": "prisoncall-did-change"
    },
    {
      "parameters": {
        "jsCode": "// Parse the customer-portal DID change request.\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst out = {\n  stripe_subscription_id: body.stripe_subscription_id || body.subscription_id || '',\n  stripe_customer_id: body.stripe_customer_id || '',\n  mobile_number: String(body.mobile_number || body.mobile || '').replace(/[^0-9]/g, '').replace(/^61/, '0').slice(-10),\n  customer_email: body.customer_email || body.email || '',\n  prison_name: body.new_prison_name || body.prison_name || '',\n  prison_state: String(body.new_prison_state || body.prison_state || '').toLowerCase(),\n  threeCX_extension: body.extension || body.threeCX_extension || null,\n  old_did: String(body.old_did || '').replace(/^\\+/, ''),\n  old_orderId: body.old_order_id || body.old_orderId || '',\n  old_numberId: body.old_number_id || body.old_numberId || ''\n};\nreturn [{ json: out }];"
      },
      "id": "wf3-extract",
      "name": "Extract DID Change Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 360]
    },
    {
      "parameters": {
        "jsCode": "// Prison DID Lookup for the NEW prison (same source of truth as Workflow 1).\nconst CSV = `prison_name,prison_state,primary,primary_state,fallback_1,fallback_1_state,fallback_2,fallback_2_state,fallback_3,fallback_3_state\nBarwon Prison,vic,Lara,VIC,Werribee,VIC,Melbourne,VIC,,\nBeechworth Correctional Centre,vic,Beechworth,VIC,Wangaratta,VIC,Chiltern,VIC,,\nDame Phyllis Frost Centre,vic,Melbourne,VIC,Werribee,VIC,Geelong,VIC,,\nFulham Correctional Centre,vic,Sale,VIC,Traralgon,VIC,Shepparton,VIC,,\nHopkins Correctional Centre,vic,Ararat,VIC,Ballarat,VIC,Horsham,VIC,,\nLangi Kal Kal Prison,vic,Beaufort,VIC,Ararat,VIC,Ballarat,VIC,,\nLoddon Prison / Middleton Prison,vic,Castlemaine,VIC,Bendigo,VIC,Melbourne,VIC,,\nMarngoneet Correctional Centre,vic,Lara,VIC,Werribee,VIC,Melbourne,VIC,,\nMelbourne Assessment Prison,vic,Melbourne,VIC,Werribee,VIC,Geelong,VIC,,\nMetropolitan Remand Centre,vic,Melbourne,VIC,Werribee,VIC,Geelong,VIC,,\nPort Phillip Prison,vic,Melbourne,VIC,Werribee,VIC,Geelong,VIC,,\nRavenhall Correctional Centre,vic,Melbourne,VIC,Werribee,VIC,Geelong,VIC,,\nTarrengower Prison,vic,Castlemaine,VIC,Bendigo,VIC,Melbourne,VIC,,\nWestern Plains Correctional Centre,vic,Lara,VIC,Werribee,VIC,Melbourne,VIC,,\nAmber Laurel CC,nsw,Penrith,NSW,Blacktown,NSW,Sydney,NSW,,\nBalund-a,nsw,Lismore,NSW,Grafton,NSW,Coffs Harbour,NSW,,\nBathurst CC,nsw,Bathurst,NSW,Orange,NSW,Lithgow,NSW,,\nBroken Hill CC,nsw,Broken Hill,NSW,Dubbo,NSW,,,,\nCessnock CC,nsw,Cessnock,NSW,Maitland,NSW,Newcastle,NSW,,\nClarence CC,nsw,Grafton,NSW,Lismore,NSW,Coffs Harbour,NSW,,\nCooma CC,nsw,Cooma,NSW,Goulburn,NSW,Bega,NSW,,\nDawn de Loas CC,nsw,Sydney,NSW,Blacktown,NSW,,,,\nDillwynia CC,nsw,Penrith,NSW,Blacktown,NSW,Sydney,NSW,,\nEmu Plains CC,nsw,Penrith,NSW,Blacktown,NSW,Sydney,NSW,,\nGeoffrey Pearce CC,nsw,Penrith,NSW,Blacktown,NSW,Sydney,NSW,,\nGlen Innes CC,nsw,Glen Innes,NSW,Armidale,NSW,Tamworth,NSW,,\nGoulburn CC,nsw,Goulburn,NSW,Bowral,NSW,Cooma,NSW,,\nHunter CC,nsw,Cessnock,NSW,Maitland,NSW,Newcastle,NSW,,\nJohn Morony CC,nsw,Blacktown,NSW,Sydney,NSW,,,,\nJunee CC,nsw,Wagga Wagga,NSW,Goulburn,NSW,Albury - Wodonga,NSW,,\nKariong Intake & Transit,nsw,Gosford,NSW,Blacktown,NSW,Sydney,NSW,,\nKirkconnell CC,nsw,Bathurst,NSW,Young,NSW,Orange,NSW,,\nLithgow CC,nsw,Lithgow,NSW,Bathurst,NSW,Orange,NSW,,\nLong Bay Complex,nsw,Sydney,NSW,Blacktown,NSW,,,,\nMacquarie CC,nsw,Dubbo,NSW,Orange,NSW,Bathurst,NSW,,\nMannus CC,nsw,Tooma,NSW,Talbingo,NSW,Albury - Wodonga,NSW,Goulburn,NSW\nMary Wade CC,nsw,Sydney,NSW,Blacktown,NSW,,,,\nMid North Coast CC (Kempsey),nsw,Kempsey,NSW,Coffs Harbour,NSW,Port Macquarie,NSW,,\nMRRC Silverwater,nsw,Sydney,NSW,Blacktown,NSW,,,,\nOberon CC,nsw,Bathurst,NSW,Lithgow,NSW,Orange,NSW,,\nParklea CC,nsw,Sydney,NSW,Blacktown,NSW,,,,\nShortland CC,nsw,Cessnock,NSW,Maitland,NSW,Newcastle,NSW,,\nSilverwater CC (Men's),nsw,Sydney,NSW,Blacktown,NSW,,,,\nSilverwater Women's CC,nsw,Sydney,NSW,Blacktown,NSW,,,,\nSouth Coast CC,nsw,Kiama,NSW,Wollongong,NSW,Goulburn,NSW,,\nSt Heliers CC,nsw,Muswellbrook,NSW,Maitland,NSW,Newcastle,NSW,,\nTamworth CC,nsw,Tamworth,NSW,Armidale,NSW,Glen Innes,NSW,,\nWellington CC,nsw,Dubbo,NSW,Orange,NSW,Bathurst,NSW,,`;\nconst townPrefix = {\n  'Lara': '034224', 'Werribee': '038000', 'Melbourne': '037057', 'Beechworth': '034714',\n  'Wangaratta': '035721', 'Chiltern': '035726', 'Geelong': '034232', 'Sale': '034159',\n  'Traralgon': '035176', 'Shepparton': '034804', 'Ararat': '034328', 'Ballarat': '035300',\n  'Horsham': '034336', 'Beaufort': '034329', 'Castlemaine': '034430', 'Bendigo': '034428',\n  'Penrith': '024702', 'Blacktown': '028609', 'Sydney': '029178', 'Lismore': '025624',\n  'Grafton': '026632', 'Coffs Harbour': '025603', 'Bathurst': '025340', 'Orange': '026325',\n  'Lithgow': '025322', 'Broken Hill': '028013', 'Dubbo': '025836', 'Cessnock': '024012',\n  'Maitland': '024072', 'Newcastle': '024940', 'Cooma': '026422', 'Goulburn': '023813',\n  'Bega': '026492', 'Glen Innes': '025768', 'Armidale': '026714', 'Tamworth': '025781',\n  'Bowral': '024879', 'Gosford': '024313', 'Young': '026382', 'Kempsey': '025504',\n  'Port Macquarie': '026583', 'Kiama': '024216', 'Wollongong': '024217', 'Muswellbrook': '026535',\n  'Wagga Wagga': '', 'Albury - Wodonga': '', 'Tooma': '', 'Talbingo': ''\n};\nconst d = $json;\nconst lines = CSV.trim().split('\\n');\nconst headers = lines[0].split(',');\nconst rows = lines.slice(1).map((l) => { const c = l.split(','); const o = {}; headers.forEach((h, i) => { o[h] = (c[i] || '').trim(); }); return o; });\nconst norm = (s) => String(s || '').toLowerCase().replace(/[^a-z0-9]/g, '');\nlet row = rows.find((r) => r.prison_name.toLowerCase() === String(d.prison_name).toLowerCase());\nif (!row) row = rows.find((r) => norm(r.prison_name) === norm(d.prison_name));\nif (!row) throw new Error('Prison not found in DID lookup table: ' + d.prison_name);\nconst exchanges = [row.primary, row.fallback_1, row.fallback_2, row.fallback_3].filter((t) => t && t.length).map((t) => ({ town: t, prefix: townPrefix[t] || '' }));\nreturn [{ json: { ...d, exchanges: exchanges, request_prefix: (exchanges[0] && exchanges[0].prefix) || '', request_postcode: '' } }];"
      },
      "id": "wf3-lookup",
      "name": "Prison DID Lookup (new prison)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 360]
    },
    {
      "parameters": {
        "jsCode": "// Order the NEW DID via the proxy (same logic as Workflow 1). Old DID details are preserved.\nconst helpers = this.helpers;\nconst PROXY_URL = 'https://workers.prisoncall.com.au/voipline-proxy';\nconst SECRET = $env.VOIPLINE_PROXY_SECRET;\nasync function voipline(path, method, jsonBody) {\n  const opts = { method: 'POST', url: PROXY_URL, headers: { 'X-Proxy-Secret': SECRET, 'X-VoipLine-Path': path, 'X-VoipLine-Method': method, 'Content-Type': 'application/json' }, json: true };\n  if (method === 'POST' || method === 'PUT') opts.body = jsonBody || {};\n  return await helpers.httpRequest(opts);\n}\nconst asArray = (r) => Array.isArray(r) ? r : (r && (r.data || r.results || r.numbers || r.items)) || [];\nconst d = $json;\nlet result = null;\nfor (const ex of d.exchanges) {\n  try {\n    const search = await voipline('/api/customer/pricings/countries/13?query=' + encodeURIComponent(ex.town), 'GET');\n    for (const pricing of asArray(search)) {\n      const pricingId = pricing.id || pricing.pricing_id;\n      if (!pricingId) continue;\n      try { await voipline('/api/customer/pricings/' + pricingId + '/ordering-restrictions', 'GET'); } catch (e) {}\n      const numbersResp = await voipline('/api/customer/numbers/pricing/' + pricingId, 'GET');\n      const numbers = asArray(numbersResp);\n      if (!numbers.length) continue;\n      const first = numbers[0];\n      const numberId = first.id || first.number_id;\n      const orderId = numbersResp.order_id || numbersResp.orderId || first.order_id;\n      if (!orderId || !numberId) continue;\n      await voipline('/api/customer/order/' + orderId + '/number/' + numberId + '/reserve', 'PUT', {});\n      const order = await voipline('/api/customer/order/' + orderId, 'GET');\n      await voipline('/api/customer/order/' + orderId + '/submit', 'POST', {});\n      const did = String(first.number || first.did || (order && order.number) || '').replace(/^\\+/, '');\n      result = { did: did, exchange: ex.town, pricingId: pricingId, orderId: orderId, numberId: numberId };\n      break;\n    }\n    if (result) break;\n  } catch (e) {}\n}\nif (!result) return [{ json: { ...d, did_obtained: false, all_exhausted: true } }];\nreturn [{ json: { ...d, ...result, did_obtained: true } }];"
      },
      "id": "wf3-order",
      "name": "Order New DID via Proxy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 360]
    },
    {
      "parameters": {
        "jsCode": "// MOCK: add the new DID to the EXISTING 3CX extension. Day 0 - both old + new DIDs are active.\nconst d = $json;\nconst newDid = String(d.did || '').replace(/^\\+/, '');\nreturn [{ json: { ...d, threeCX_add_did: { mocked: true, success: true, action: 'add_did_to_extension', extension: d.threeCX_extension, new_did: newDid, old_did: d.old_did, note: '15-day dual-DID overlap started - old DID stays active (NON-NEGOTIABLE)' } } }];"
      },
      "id": "wf3-add3cx",
      "name": "Mock: Add New DID to Extension",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 360]
    },
    {
      "parameters": { "amount": 14, "unit": "days" },
      "id": "wf3-wait14",
      "name": "Wait 14 Days (overlap)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [980, 360],
      "webhookId": "wf3-wait14"
    },
    {
      "parameters": {
        "jsCode": "// Day 14 - ask the customer to confirm the new number works.\nconst helpers = this.helpers;\nconst d = $json;\nconst to = d.mobile_number ? ('+61' + d.mobile_number.replace(/^0/, '')) : $env.OWNER_MOBILE;\nconst text = 'Your new Prisoncall number ' + d.did + ' for ' + d.prison_name + ' should now be working. Please reply to confirm. Your old number will be switched off tomorrow.';\nconst auth = 'Basic ' + Buffer.from($env.CLICKSEND_USERNAME + ':' + $env.CLICKSEND_API_KEY).toString('base64');\nconst resp = await helpers.httpRequest({ method: 'POST', url: 'https://rest.clicksend.com/v3/sms/send', headers: { Authorization: auth, 'Content-Type': 'application/json' }, body: { messages: [{ source: 'n8n', from: $env.CLICKSEND_DEDICATED_NUMBER, to: to, body: text }] }, json: true });\nreturn [{ json: { ...d, confirm_sms: resp } }];"
      },
      "id": "wf3-sms-confirm",
      "name": "SMS: Confirm New Number (Day 14)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 240]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "=Please confirm your new Prisoncall number",
        "bodyContent": "=Hi,\n\nYour new Prisoncall number {{ $json.did }} for {{ $json.prison_name }} should now be working.\n\nPlease confirm it is receiving calls. Your previous number will be switched off tomorrow (end of the 15-day overlap).\n\nIf the new number is not working, reply to this email immediately.\n\nThanks,\nThe Prisoncall Team",
        "toRecipients": "={{ $json.customer_email }}",
        "additionalFields": { "bodyContentType": "Text" }
      },
      "id": "wf3-email-confirm",
      "name": "Outlook: Confirm New Number (Day 14)",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1420, 240],
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "REPLACE_OUTLOOK_CRED", "name": "Microsoft Outlook (voipline@prisoncall.com.au)" }
      }
    },
    {
      "parameters": { "amount": 1, "unit": "days" },
      "id": "wf3-wait1",
      "name": "Wait 1 Day (to Day 15)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1640, 240],
      "webhookId": "wf3-wait1"
    },
    {
      "parameters": {
        "jsCode": "// Day 15 (MOCK): remove the OLD DID from the 3CX extension.\nconst d = $json;\nreturn [{ json: { ...d, threeCX_remove_old: { mocked: true, success: true, action: 'remove_did_from_extension', extension: d.threeCX_extension, removed_did: d.old_did } } }];"
      },
      "id": "wf3-remove-old",
      "name": "Mock: Remove Old DID from Extension",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1860, 240]
    },
    {
      "parameters": {
        "jsCode": "// Day 15 - release the OLD DID (2-step). Step 1 mock PBX removal already done above; step 2 VoipLine release via proxy.\nconst helpers = this.helpers;\nconst d = $json;\nconst PROXY = 'https://workers.prisoncall.com.au/voipline-proxy';\nlet release = { skipped: true, reason: 'old_orderId/old_numberId not provided in request' };\nif (d.old_orderId && d.old_numberId) {\n  release = await helpers.httpRequest({ method: 'POST', url: PROXY, headers: { 'X-Proxy-Secret': $env.VOIPLINE_PROXY_SECRET, 'X-VoipLine-Path': '/api/customer/order/' + d.old_orderId + '/number/' + d.old_numberId + '/release', 'X-VoipLine-Method': 'PUT', 'Content-Type': 'application/json' }, body: {}, json: true });\n}\nreturn [{ json: { ...d, old_did_release: release } }];"
      },
      "id": "wf3-release-old",
      "name": "Release Old DID (2-step)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 240]
    },
    {
      "parameters": {
        "content": "## Workflow 3 - DID Change / Prison Transfer\nTrigger: customer-portal DID change request webhook (/did-change). Built after WF1 + WF2 (it combines both).\n\n- Order the NEW DID (same DID ordering logic as WF1) and mock-add it to the existing 3CX extension.\n- **Day 0**: both old + new DIDs active (15-day overlap - NON-NEGOTIABLE).\n- **Day 14**: SMS + email asking the customer to confirm the new number works.\n- **Day 15**: mock remove old DID from 3CX, then release old DID from VoipLine (2-step).",
        "height": 240,
        "width": 460
      },
      "id": "wf3-note",
      "name": "About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-140, 60]
    }
  ],
  "connections": {
    "Portal Webhook (DID change request)": { "main": [[{ "node": "Extract DID Change Request", "type": "main", "index": 0 }]] },
    "Extract DID Change Request": { "main": [[{ "node": "Prison DID Lookup (new prison)", "type": "main", "index": 0 }]] },
    "Prison DID Lookup (new prison)": { "main": [[{ "node": "Order New DID via Proxy", "type": "main", "index": 0 }]] },
    "Order New DID via Proxy": { "main": [[{ "node": "Mock: Add New DID to Extension", "type": "main", "index": 0 }]] },
    "Mock: Add New DID to Extension": { "main": [[{ "node": "Wait 14 Days (overlap)", "type": "main", "index": 0 }]] },
    "Wait 14 Days (overlap)": { "main": [[{ "node": "SMS: Confirm New Number (Day 14)", "type": "main", "index": 0 }]] },
    "SMS: Confirm New Number (Day 14)": { "main": [[{ "node": "Outlook: Confirm New Number (Day 14)", "type": "main", "index": 0 }]] },
    "Outlook: Confirm New Number (Day 14)": { "main": [[{ "node": "Wait 1 Day (to Day 15)", "type": "main", "index": 0 }]] },
    "Wait 1 Day (to Day 15)": { "main": [[{ "node": "Mock: Remove Old DID from Extension", "type": "main", "index": 0 }]] },
    "Mock: Remove Old DID from Extension": { "main": [[{ "node": "Release Old DID (2-step)", "type": "main", "index": 0 }]] }
  }
}
