n8n-workflows/workflow-1-new-subscriber.json
{
  "name": "PRISONCALL - WF1 New Subscriber",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Sydney"
  },
  "pinData": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-subscriber",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf1-webhook",
      "name": "Stripe Webhook (checkout.session.completed)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-100, 360],
      "webhookId": "prisoncall-new-subscriber"
    },
    {
      "parameters": {
        "jsCode": "// Parse the Stripe event. create-checkout.js stores per-plan metadata:\n// plan_1_prison / plan_1_state / plan_1_mobile / plan_1_interval, plus bundle, plan_count.\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst event = body && body.type ? body : (body.event || body);\nconst eventType = event.type || raw.type || 'unknown';\nconst obj = (event.data && event.data.object) ? event.data.object : (event.object || {});\nconst md = obj.metadata || {};\n\nfunction pick() {\n  for (const k of arguments) {\n    if (md[k] !== undefined && md[k] !== '') return md[k];\n  }\n  return '';\n}\n\nconst mobile_number = String(pick('plan_1_mobile', 'mobile_number', 'mobile'))\n  .replace(/[^0-9]/g, '')\n  .replace(/^61/, '0')\n  .slice(-10);\n\nconst out = {\n  event_type: eventType,\n  prison_name: pick('plan_1_prison', 'prison_name'),\n  prison_state: String(pick('plan_1_state', 'prison_state')).toLowerCase(),\n  plan_interval: String(pick('plan_1_interval', 'plan_interval')).toLowerCase(),\n  mobile_number: mobile_number,\n  bundle: String(pick('bundle')).toLowerCase() === 'true',\n  plan_count: Number(pick('plan_count') || 1),\n  stripe_customer_id: obj.customer || pick('stripe_customer_id') || '',\n  stripe_subscription_id: obj.subscription || pick('stripe_subscription_id') || '',\n  customer_email: (obj.customer_details && obj.customer_details.email) || obj.customer_email || ''\n};\n\nreturn [{ json: out }];"
      },
      "id": "wf1-extract",
      "name": "Extract Checkout Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-evt",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "checkout.session.completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "wf1-is-completed",
      "name": "Is checkout.session.completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [340, 360]
    },
    {
      "parameters": {
        "jsCode": "// Prison DID Lookup - source of truth: Prisoncall_DID_Provisioning_Table / Prison_DID_Lookup_v3_0.csv.\n// Town strings in primary/fallback_* are the EXACT strings passed to the VoipLine search endpoint.\nconst CSV = `prison_name,prison_state,primary,primary_state,fallback_1,fallback_1_state,fallback_2,fallback_2_state,fallback_3,fallback_3_state\nBarwon Prison,vic,Lara,VIC,Werribee,VIC,Melbourne,VIC,,\nBeechworth Correctional Centre,vic,Beechworth,VIC,Wangaratta,VIC,Chiltern,VIC,,\nDame Phyllis Frost Centre,vic,Melbourne,VIC,Werribee,VIC,Geelong,VIC,,\nFulham Correctional Centre,vic,Sale,VIC,Traralgon,VIC,Shepparton,VIC,,\nHopkins Correctional Centre,vic,Ararat,VIC,Ballarat,VIC,Horsham,VIC,,\nLangi Kal Kal Prison,vic,Beaufort,VIC,Ararat,VIC,Ballarat,VIC,,\nLoddon Prison / Middleton Prison,vic,Castlemaine,VIC,Bendigo,VIC,Melbourne,VIC,,\nMarngoneet Correctional Centre,vic,Lara,VIC,Werribee,VIC,Melbourne,VIC,,\nMelbourne Assessment Prison,vic,Melbourne,VIC,Werribee,VIC,Geelong,VIC,,\nMetropolitan Remand Centre,vic,Melbourne,VIC,Werribee,VIC,Geelong,VIC,,\nPort Phillip Prison,vic,Melbourne,VIC,Werribee,VIC,Geelong,VIC,,\nRavenhall Correctional Centre,vic,Melbourne,VIC,Werribee,VIC,Geelong,VIC,,\nTarrengower Prison,vic,Castlemaine,VIC,Bendigo,VIC,Melbourne,VIC,,\nWestern Plains Correctional Centre,vic,Lara,VIC,Werribee,VIC,Melbourne,VIC,,\nAmber Laurel CC,nsw,Penrith,NSW,Blacktown,NSW,Sydney,NSW,,\nBalund-a,nsw,Lismore,NSW,Grafton,NSW,Coffs Harbour,NSW,,\nBathurst CC,nsw,Bathurst,NSW,Orange,NSW,Lithgow,NSW,,\nBroken Hill CC,nsw,Broken Hill,NSW,Dubbo,NSW,,,,\nCessnock CC,nsw,Cessnock,NSW,Maitland,NSW,Newcastle,NSW,,\nClarence CC,nsw,Grafton,NSW,Lismore,NSW,Coffs Harbour,NSW,,\nCooma CC,nsw,Cooma,NSW,Goulburn,NSW,Bega,NSW,,\nDawn de Loas CC,nsw,Sydney,NSW,Blacktown,NSW,,,,\nDillwynia CC,nsw,Penrith,NSW,Blacktown,NSW,Sydney,NSW,,\nEmu Plains CC,nsw,Penrith,NSW,Blacktown,NSW,Sydney,NSW,,\nGeoffrey Pearce CC,nsw,Penrith,NSW,Blacktown,NSW,Sydney,NSW,,\nGlen Innes CC,nsw,Glen Innes,NSW,Armidale,NSW,Tamworth,NSW,,\nGoulburn CC,nsw,Goulburn,NSW,Bowral,NSW,Cooma,NSW,,\nHunter CC,nsw,Cessnock,NSW,Maitland,NSW,Newcastle,NSW,,\nJohn Morony CC,nsw,Blacktown,NSW,Sydney,NSW,,,,\nJunee CC,nsw,Wagga Wagga,NSW,Goulburn,NSW,Albury - Wodonga,NSW,,\nKariong Intake & Transit,nsw,Gosford,NSW,Blacktown,NSW,Sydney,NSW,,\nKirkconnell CC,nsw,Bathurst,NSW,Young,NSW,Orange,NSW,,\nLithgow CC,nsw,Lithgow,NSW,Bathurst,NSW,Orange,NSW,,\nLong Bay Complex,nsw,Sydney,NSW,Blacktown,NSW,,,,\nMacquarie CC,nsw,Dubbo,NSW,Orange,NSW,Bathurst,NSW,,\nMannus CC,nsw,Tooma,NSW,Talbingo,NSW,Albury - Wodonga,NSW,Goulburn,NSW\nMary Wade CC,nsw,Sydney,NSW,Blacktown,NSW,,,,\nMid North Coast CC (Kempsey),nsw,Kempsey,NSW,Coffs Harbour,NSW,Port Macquarie,NSW,,\nMRRC Silverwater,nsw,Sydney,NSW,Blacktown,NSW,,,,\nOberon CC,nsw,Bathurst,NSW,Lithgow,NSW,Orange,NSW,,\nParklea CC,nsw,Sydney,NSW,Blacktown,NSW,,,,\nShortland CC,nsw,Cessnock,NSW,Maitland,NSW,Newcastle,NSW,,\nSilverwater CC (Men's),nsw,Sydney,NSW,Blacktown,NSW,,,,\nSilverwater Women's CC,nsw,Sydney,NSW,Blacktown,NSW,,,,\nSouth Coast CC,nsw,Kiama,NSW,Wollongong,NSW,Goulburn,NSW,,\nSt Heliers CC,nsw,Muswellbrook,NSW,Maitland,NSW,Newcastle,NSW,,\nTamworth CC,nsw,Tamworth,NSW,Armidale,NSW,Glen Innes,NSW,,\nWellington CC,nsw,Dubbo,NSW,Orange,NSW,Bathurst,NSW,,`;\n\n// Primary-exchange dial prefixes (area code + exchange, no spaces) for the Request Numbers flow.\n// OUTSTANDING per handoff: postcodes still to be added for all exchanges.\nconst townPrefix = {\n  'Lara': '034224', 'Werribee': '038000', 'Melbourne': '037057', 'Beechworth': '034714',\n  'Wangaratta': '035721', 'Chiltern': '035726', 'Geelong': '034232', 'Sale': '034159',\n  'Traralgon': '035176', 'Shepparton': '034804', 'Ararat': '034328', 'Ballarat': '035300',\n  'Horsham': '034336', 'Beaufort': '034329', 'Castlemaine': '034430', 'Bendigo': '034428',\n  'Penrith': '024702', 'Blacktown': '028609', 'Sydney': '029178', 'Lismore': '025624',\n  'Grafton': '026632', 'Coffs Harbour': '025603', 'Bathurst': '025340', 'Orange': '026325',\n  'Lithgow': '025322', 'Broken Hill': '028013', 'Dubbo': '025836', 'Cessnock': '024012',\n  'Maitland': '024072', 'Newcastle': '024940', 'Cooma': '026422', 'Goulburn': '023813',\n  'Bega': '026492', 'Glen Innes': '025768', 'Armidale': '026714', 'Tamworth': '025781',\n  'Bowral': '024879', 'Gosford': '024313', 'Young': '026382', 'Kempsey': '025504',\n  'Port Macquarie': '026583', 'Kiama': '024216', 'Wollongong': '024217', 'Muswellbrook': '026535',\n  'Wagga Wagga': '', 'Albury - Wodonga': '', 'Tooma': '', 'Talbingo': ''\n};\n\nconst d = $json;\nconst lines = CSV.trim().split('\\n');\nconst headers = lines[0].split(',');\nconst rows = lines.slice(1).map((l) => {\n  const c = l.split(',');\n  const o = {};\n  headers.forEach((h, i) => { o[h] = (c[i] || '').trim(); });\n  return o;\n});\n\nconst norm = (s) => String(s || '').toLowerCase().replace(/[^a-z0-9]/g, '');\nconst target = norm(d.prison_name);\nlet row = rows.find((r) => r.prison_name.toLowerCase() === String(d.prison_name).toLowerCase());\nif (!row) row = rows.find((r) => norm(r.prison_name) === target);\nif (!row) throw new Error('Prison not found in DID lookup table: ' + d.prison_name);\n\nconst exchanges = [row.primary, row.fallback_1, row.fallback_2, row.fallback_3]\n  .filter((t) => t && t.length)\n  .map((t) => ({ town: t, prefix: townPrefix[t] || '' }));\n\nreturn [{\n  json: {\n    ...d,\n    exchanges: exchanges,\n    request_prefix: (exchanges[0] && exchanges[0].prefix) || '',\n    request_postcode: ''\n  }\n}];"
      },
      "id": "wf1-lookup",
      "name": "Prison DID Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 360]
    },
    {
      "parameters": {
        "jsCode": "// Order a DID from VoipLine following the EXACT documented sequence, attempting\n// primary -> fallback_1 -> fallback_2 -> fallback_3 in order. ALL VoipLine calls go\n// through the Cloudflare Worker proxy. 3CX is NOT touched here.\n//\n// NOTE: VoipLine response field names (id / number / order_id) are mapped defensively\n// below and must be confirmed against live responses at Phase 1C integration.\nconst helpers = this.helpers;\nconst PROXY_URL = 'https://workers.prisoncall.com.au/voipline-proxy';\nconst SECRET = $env.VOIPLINE_PROXY_SECRET;\n\nasync function voipline(path, method, jsonBody) {\n  const opts = {\n    method: 'POST',\n    url: PROXY_URL,\n    headers: {\n      'X-Proxy-Secret': SECRET,\n      'X-VoipLine-Path': path,\n      'X-VoipLine-Method': method,\n      'Content-Type': 'application/json'\n    },\n    json: true\n  };\n  if ((method === 'POST' || method === 'PUT')) opts.body = jsonBody || {};\n  return await helpers.httpRequest(opts);\n}\n\nconst asArray = (r) => Array.isArray(r) ? r : (r && (r.data || r.results || r.numbers || r.items)) || [];\n\nconst d = $json;\nlet result = null;\nconst attempts = [];\n\nfor (const ex of d.exchanges) {\n  try {\n    const search = await voipline('/api/customer/pricings/countries/13?query=' + encodeURIComponent(ex.town), 'GET');\n    const pricings = asArray(search);\n    for (const pricing of pricings) {\n      const pricingId = pricing.id || pricing.pricing_id;\n      if (!pricingId) continue;\n      // (optional) ordering restrictions check\n      try { await voipline('/api/customer/pricings/' + pricingId + '/ordering-restrictions', 'GET'); } catch (e) {}\n      const numbersResp = await voipline('/api/customer/numbers/pricing/' + pricingId, 'GET');\n      const numbers = asArray(numbersResp);\n      if (!numbers.length) { attempts.push({ town: ex.town, pricingId, stock: 0 }); continue; }\n      const first = numbers[0];\n      const numberId = first.id || first.number_id;\n      const orderId = numbersResp.order_id || numbersResp.orderId || first.order_id;\n      if (!orderId || !numberId) { attempts.push({ town: ex.town, pricingId, note: 'missing order/number id' }); continue; }\n      await voipline('/api/customer/order/' + orderId + '/number/' + numberId + '/reserve', 'PUT', {});\n      const order = await voipline('/api/customer/order/' + orderId, 'GET');\n      await voipline('/api/customer/order/' + orderId + '/submit', 'POST', {});\n      const did = String(first.number || first.did || (order && order.number) || '').replace(/^\\+/, '');\n      result = { did, exchange: ex.town, pricingId, orderId, numberId };\n      attempts.push({ town: ex.town, pricingId, stock: numbers.length, ordered: true });\n      break;\n    }\n    if (result) break;\n  } catch (e) {\n    attempts.push({ town: ex.town, error: String(e.message || e) });\n  }\n}\n\nif (result) {\n  return [{ json: { ...d, ...result, did_obtained: true, attempts } }];\n}\nreturn [{ json: { ...d, did_obtained: false, all_exhausted: true, attempts } }];"
      },
      "id": "wf1-order-did",
      "name": "Order DID via VoipLine Proxy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-did",
              "leftValue": "={{ $json.did_obtained }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "wf1-did-obtained",
      "name": "DID obtained?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 360]
    },
    {
      "parameters": {
        "jsCode": "// MOCKED 3CX SETUP - all 3CX API calls are mocked during build and return success.\n// Live integration (Phase 1C) replaces this with real 3CX REST calls.\nconst d = $json;\nconst did = String(d.did || '').replace(/^\\+/, '');\n// Extension number auto-increments from 103. Live integration queries 3CX for the next free extension.\nconst extension = 103;\nconst mobileE164 = '+61' + String(d.mobile_number).replace(/^0/, '');\n\nconst threeCX = {\n  mocked: true,\n  success: true,\n  steps: [\n    { step: 'create_extension', extension: extension, ok: true },\n    { step: 'set_identity', name: (d.prison_name || '') + ' (' + d.mobile_number + ')', email: d.customer_email || '', mobile: mobileE164, ok: true },\n    { step: 'assign_did', did: did, ok: true },\n    { step: 'configure', also_ring_my_mobile: true, no_answer_timeout_seconds: 15, forward_external_calls_to: 'Send Busy', voicemail_enabled: false, ok: true },\n    { step: 'set_outbound_caller_id', outbound_caller_id: did, ok: true }\n  ]\n};\n\nreturn [{ json: { ...d, did: did, threeCX_extension: extension, threeCX } }];"
      },
      "id": "wf1-mock-3cx",
      "name": "Mock 3CX Setup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 180]
    },
    {
      "parameters": {
        "jsCode": "// Order confirmation SMS via ClickSend. Sender = PRISONCALL (alphanumeric, one-way).\nconst helpers = this.helpers;\nconst d = $json;\nconst to = '+61' + String(d.mobile_number).replace(/^0/, '');\nconst text = 'Welcome to Prisoncall! Your number ' + d.did + ' is now active for ' + d.prison_name + '. Calls from the prison will ring your mobile. Questions? Reply to this message.';\nconst auth = 'Basic ' + Buffer.from($env.CLICKSEND_USERNAME + ':' + $env.CLICKSEND_API_KEY).toString('base64');\nconst resp = await helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rest.clicksend.com/v3/sms/send',\n  headers: { Authorization: auth, 'Content-Type': 'application/json' },\n  body: { messages: [{ source: 'n8n', from: 'PRISONCALL', to: to, body: text }] },\n  json: true\n});\nreturn [{ json: { ...d, clicksend_welcome: resp } }];"
      },
      "id": "wf1-sms-welcome",
      "name": "ClickSend Welcome SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 180]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "=Your Prisoncall number is now active",
        "bodyContent": "=Hi,\n\nYour Prisoncall number {{ $json.did }} is now active for {{ $json.prison_name }}.\n\nCalls from the prison will now ring your mobile. Remember to press 1 to accept each call.\n\nIf you have any questions, just reply to this email.\n\nThanks,\nThe Prisoncall Team",
        "toRecipients": "={{ $json.customer_email }}",
        "additionalFields": { "bodyContentType": "Text" }
      },
      "id": "wf1-email-confirm",
      "name": "Outlook: Confirmation Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1680, 180],
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "REPLACE_OUTLOOK_CRED", "name": "Microsoft Outlook (voipline@prisoncall.com.au)" }
      }
    },
    {
      "parameters": {
        "jsCode": "// PATH B - all exchanges out of stock. Submit a VoipLine Request Numbers order via the proxy.\n// NOTE: confirm the exact VoipLine Request Numbers path and body shape at live integration.\nconst helpers = this.helpers;\nconst d = $json;\nconst PROXY_URL = 'https://workers.prisoncall.com.au/voipline-proxy';\nconst body = { quantity: 1, prefix: d.request_prefix, postcode: d.request_postcode };\nlet resp;\ntry {\n  resp = await helpers.httpRequest({\n    method: 'POST',\n    url: PROXY_URL,\n    headers: {\n      'X-Proxy-Secret': $env.VOIPLINE_PROXY_SECRET,\n      'X-VoipLine-Path': '/api/customer/numbers/request',\n      'X-VoipLine-Method': 'POST',\n      'Content-Type': 'application/json'\n    },\n    body: body,\n    json: true\n  });\n} catch (e) { resp = { error: String(e.message || e) }; }\nreturn [{ json: { ...d, path_b: true, request_numbers_submitted: body, request_numbers_response: resp } }];"
      },
      "id": "wf1-request-numbers",
      "name": "Submit Request Numbers (Path B)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 540]
    },
    {
      "parameters": {
        "jsCode": "// Notify owner that Path B is running and WF4 (email monitor) is now watching the inbox.\nconst helpers = this.helpers;\nconst d = $json;\nconst auth = 'Basic ' + Buffer.from($env.CLICKSEND_USERNAME + ':' + $env.CLICKSEND_API_KEY).toString('base64');\nconst text = 'PRISONCALL: All exchanges out of stock for ' + d.prison_name + ' (mobile ' + d.mobile_number + '). Request Numbers submitted to VoipLine. Monitoring voipline@ inbox for confirmation.';\nconst resp = await helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rest.clicksend.com/v3/sms/send',\n  headers: { Authorization: auth, 'Content-Type': 'application/json' },\n  body: { messages: [{ source: 'n8n', from: $env.CLICKSEND_DEDICATED_NUMBER, to: $env.OWNER_MOBILE, body: text }] },\n  json: true\n});\nreturn [{ json: { ...d, owner_monitoring_sms: resp } }];"
      },
      "id": "wf1-owner-monitoring",
      "name": "ClickSend Owner: Monitoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 540]
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "wf1-wait-24h",
      "name": "Wait 24h for VoipLine response",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1680, 540],
      "webhookId": "wf1-wait-24h"
    },
    {
      "parameters": {
        "jsCode": "// 24h elapsed with no Request Numbers confirmation. Alert owner with full subscriber details.\n// At live integration, WF4 cancels/short-circuits this wait when a confirmation email arrives.\nconst helpers = this.helpers;\nconst d = $json;\nconst auth = 'Basic ' + Buffer.from($env.CLICKSEND_USERNAME + ':' + $env.CLICKSEND_API_KEY).toString('base64');\nconst text = 'PRISONCALL ALERT: No VoipLine number response in 24h. Prison: ' + d.prison_name + ', State: ' + d.prison_state + ', Mobile: ' + d.mobile_number + ', Sub: ' + d.stripe_subscription_id + '. Automation paused - manual follow-up required.';\nconst resp = await helpers.httpRequest({\n  method: 'POST',\n  url: 'https://rest.clicksend.com/v3/sms/send',\n  headers: { Authorization: auth, 'Content-Type': 'application/json' },\n  body: { messages: [{ source: 'n8n', from: $env.CLICKSEND_DEDICATED_NUMBER, to: $env.OWNER_MOBILE, body: text }] },\n  json: true\n});\nreturn [{ json: { ...d, owner_alert_sms: resp, paused_for_manual_followup: true } }];"
      },
      "id": "wf1-owner-alert",
      "name": "ClickSend Owner: No Response Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 540]
    },
    {
      "parameters": {
        "content": "## Workflow 1 - New Subscriber\nTrigger: Stripe checkout.session.completed (Stripe webhook -> this n8n webhook /new-subscriber).\n\n**Path A** (DID available): order DID via proxy -> mock 3CX -> ClickSend (PRISONCALL) -> Outlook email.\n**Path B** (all exchanges OOS): submit Request Numbers -> notify owner -> WF4 watches inbox. 24h no-response -> owner alert.\n**Path C** (bundle / existing customer second plan): PLACEHOLDER ONLY - bundle flag is captured in Extract Checkout Data; full handling builds after the sign-in flow.\n\nAll VoipLine calls route through the Cloudflare Worker proxy. All 3CX calls are MOCKED.",
        "height": 280,
        "width": 420
      },
      "id": "wf1-note",
      "name": "About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-120, 40]
    }
  ],
  "connections": {
    "Stripe Webhook (checkout.session.completed)": {
      "main": [[{ "node": "Extract Checkout Data", "type": "main", "index": 0 }]]
    },
    "Extract Checkout Data": {
      "main": [[{ "node": "Is checkout.session.completed?", "type": "main", "index": 0 }]]
    },
    "Is checkout.session.completed?": {
      "main": [
        [{ "node": "Prison DID Lookup", "type": "main", "index": 0 }],
        []
      ]
    },
    "Prison DID Lookup": {
      "main": [[{ "node": "Order DID via VoipLine Proxy", "type": "main", "index": 0 }]]
    },
    "Order DID via VoipLine Proxy": {
      "main": [[{ "node": "DID obtained?", "type": "main", "index": 0 }]]
    },
    "DID obtained?": {
      "main": [
        [{ "node": "Mock 3CX Setup", "type": "main", "index": 0 }],
        [{ "node": "Submit Request Numbers (Path B)", "type": "main", "index": 0 }]
      ]
    },
    "Mock 3CX Setup": {
      "main": [[{ "node": "ClickSend Welcome SMS", "type": "main", "index": 0 }]]
    },
    "ClickSend Welcome SMS": {
      "main": [[{ "node": "Outlook: Confirmation Email", "type": "main", "index": 0 }]]
    },
    "Submit Request Numbers (Path B)": {
      "main": [[{ "node": "ClickSend Owner: Monitoring", "type": "main", "index": 0 }]]
    },
    "ClickSend Owner: Monitoring": {
      "main": [[{ "node": "Wait 24h for VoipLine response", "type": "main", "index": 0 }]]
    },
    "Wait 24h for VoipLine response": {
      "main": [[{ "node": "ClickSend Owner: No Response Alert", "type": "main", "index": 0 }]]
    }
  }
}
