n8n-workflows/workflow-6-support-enquiry.json
{
  "name": "PRISONCALL - WF6 Support Enquiry",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Sydney"
  },
  "pinData": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf6-webhook",
      "name": "Contact Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-260, 380],
      "webhookId": "prisoncall-contact-form"
    },
    {
      "parameters": {
        "jsCode": "// Parse contact-form submission.\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst out = {\n  name: body.name || '',\n  email: body.email || '',\n  mobile_number: String(body.mobile_number || body.mobile || '').replace(/[^0-9]/g, '').replace(/^61/, '0').slice(-10),\n  message: body.message || body.enquiry || '',\n  stripe_subscription_id: body.stripe_subscription_id || '',\n  stripe_customer_id: body.stripe_customer_id || ''\n};\nreturn [{ json: out }];"
      },
      "id": "wf6-parse",
      "name": "Parse Enquiry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-40, 380]
    },
    {
      "parameters": {
        "jsCode": "// Retention keyword detection.\nconst d = $json;\nconst keywords = ['cancel', 'cancelling', 'leaving', 'switching', 'cheaper', 'competitor', 'too expensive', 'not worth'];\nconst msg = String(d.message || '').toLowerCase();\nconst hits = keywords.filter((k) => msg.includes(k));\nreturn [{ json: { ...d, retention: hits.length > 0, retention_keywords: hits } }];"
      },
      "id": "wf6-retention-check",
      "name": "Retention Keyword Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            { "id": "c-ret", "leftValue": "={{ $json.retention }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ]
        },
        "options": {}
      },
      "id": "wf6-if-retention",
      "name": "Retention keywords found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 380]
    },
    {
      "parameters": {
        "jsCode": "// Apply the 10%_LOYALTY coupon (keZywUSF, 3 months repeating) to the customer's subscription.\nconst helpers = this.helpers;\nconst d = $json;\nconst auth = 'Bearer ' + $env.STRIPE_SECRET_KEY;\nconst COUPON = 'keZywUSF';\nlet subId = d.stripe_subscription_id;\nif (!subId && d.stripe_customer_id) {\n  const list = await helpers.httpRequest({ method: 'GET', url: 'https://api.stripe.com/v1/subscriptions?status=active&limit=1&customer=' + d.stripe_customer_id, headers: { Authorization: auth }, json: true });\n  if (list.data && list.data[0]) subId = list.data[0].id;\n}\nlet result = { skipped: true, reason: 'no subscription resolved from enquiry' };\nif (subId) {\n  result = await helpers.httpRequest({ method: 'POST', url: 'https://api.stripe.com/v1/subscriptions/' + subId, headers: { Authorization: auth, 'Content-Type': 'application/x-www-form-urlencoded' }, body: 'coupon=' + COUPON });\n}\nreturn [{ json: { ...d, loyalty_coupon_applied: result, subscription_id: subId } }];"
      },
      "id": "wf6-apply-coupon",
      "name": "Apply 10% Loyalty Coupon",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 200]
    },
    {
      "parameters": {
        "jsCode": "// Loyalty SMS to the customer (ClickSend dedicated number - two-way).\nconst helpers = this.helpers;\nconst d = $json;\nconst to = d.mobile_number ? ('+61' + d.mobile_number.replace(/^0/, '')) : $env.OWNER_MOBILE;\nconst text = \"We value your loyalty. We've applied a 10% discount to your next 3 months automatically.\";\nconst auth = 'Basic ' + Buffer.from($env.CLICKSEND_USERNAME + ':' + $env.CLICKSEND_API_KEY).toString('base64');\nconst resp = await helpers.httpRequest({ method: 'POST', url: 'https://rest.clicksend.com/v3/sms/send', headers: { Authorization: auth, 'Content-Type': 'application/json' }, body: { messages: [{ source: 'n8n', from: $env.CLICKSEND_DEDICATED_NUMBER, to: to, body: text }] }, json: true });\nreturn [{ json: { ...d, loyalty_sms: resp } }];"
      },
      "id": "wf6-sms-loyalty",
      "name": "ClickSend Loyalty SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 200]
    },
    {
      "parameters": {
        "jsCode": "// Flag the retention enquiry to the owner.\nconst helpers = this.helpers;\nconst d = $json;\nconst text = 'PRISONCALL RETENTION flagged. From: ' + (d.name || d.email || d.mobile_number || 'unknown') + '. Keywords: ' + (d.retention_keywords || []).join(', ') + '. 10% loyalty coupon auto-applied (sub ' + (d.subscription_id || 'n/a') + ').';\nconst auth = 'Basic ' + Buffer.from($env.CLICKSEND_USERNAME + ':' + $env.CLICKSEND_API_KEY).toString('base64');\nconst resp = await helpers.httpRequest({ method: 'POST', url: 'https://rest.clicksend.com/v3/sms/send', headers: { Authorization: auth, 'Content-Type': 'application/json' }, body: { messages: [{ source: 'n8n', from: $env.CLICKSEND_DEDICATED_NUMBER, to: $env.OWNER_MOBILE, body: text }] }, json: true });\nreturn [{ json: { ...d, owner_flag_sms: resp } }];"
      },
      "id": "wf6-owner-flag-retention",
      "name": "ClickSend Owner: Retention Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 200]
    },
    {
      "parameters": {
        "jsCode": "// Pass the enquiry to Claude with the Prisoncall knowledge base. Expect JSON {reply, confidence}.\nconst helpers = this.helpers;\nconst d = $json;\nconst KB = 'Prisoncall Australia provides families a dedicated local phone number (DID) sourced from the telephone exchange closest to the prison. Prisoner calls that number at the local landline rate; the call diverts to the subscriber mobile. The SUBSCRIBER presses 1 to accept each call (prevents voicemail). Plans (AUD): Weekly $15, Fortnightly $25, Monthly $45, Quarterly $125. Coverage: VIC and NSW prisons only. The plan fee covers unlimited incoming calls/minutes; the prisoner still incurs the prison standard call charges. Subscribers manage billing via the Stripe customer portal (cancel, update payment method, invoice history). Bundle discount: 10% off when 2+ active plans share the same billing interval. Cancellation is immediate with a 5-day grace/reactivation window.';\nconst system = 'You are Prisoncall Australia customer support. Answer using ONLY the knowledge base. Be concise, warm and accurate. Respond STRICTLY as compact JSON on a single line: {\"reply\": \"...\", \"confidence\": 0.0-1.0}. Use confidence >= 0.8 ONLY when the knowledge base clearly and fully answers; otherwise lower. Knowledge base: ' + KB;\nlet text = '';\ntry {\n  const resp = await helpers.httpRequest({ method: 'POST', url: 'https://api.anthropic.com/v1/messages', headers: { 'x-api-key': $env.ANTHROPIC_API_KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' }, body: { model: 'claude-sonnet-4-20250514', max_tokens: 600, system: system, messages: [{ role: 'user', content: String(d.message || '') }] }, json: true });\n  text = (resp.content && resp.content[0] && resp.content[0].text) || '';\n} catch (e) { text = ''; }\nlet parsed = { reply: text, confidence: 0 };\ntry { parsed = JSON.parse(text); } catch (e) { parsed = { reply: text || 'Thanks for your message - our team will get back to you shortly.', confidence: 0.2 }; }\nreturn [{ json: { ...d, ai_reply: parsed.reply, ai_confidence: Number(parsed.confidence) || 0, claude_raw: text } }];"
      },
      "id": "wf6-claude",
      "name": "Claude AI Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 560]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            { "id": "c-conf", "leftValue": "={{ $json.ai_confidence }}", "rightValue": 0.8, "operator": { "type": "number", "operation": "gte" } }
          ]
        },
        "options": {}
      },
      "id": "wf6-if-conf",
      "name": "AI confidence high?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 560]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "=Re: your Prisoncall enquiry",
        "bodyContent": "={{ $json.ai_reply }}",
        "toRecipients": "={{ $json.email }}",
        "additionalFields": { "bodyContentType": "Text" }
      },
      "id": "wf6-email-reply",
      "name": "Outlook: Auto-reply",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1080, 480],
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "REPLACE_OUTLOOK_CRED", "name": "Microsoft Outlook (voipline@prisoncall.com.au)" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Low AI confidence - flag the enquiry to the owner for manual handling.\nconst helpers = this.helpers;\nconst d = $json;\nconst text = 'PRISONCALL support enquiry flagged (low AI confidence ' + d.ai_confidence + '). From: ' + (d.name || d.email || d.mobile_number || 'unknown') + '. Message: ' + String(d.message || '').slice(0, 200);\nconst auth = 'Basic ' + Buffer.from($env.CLICKSEND_USERNAME + ':' + $env.CLICKSEND_API_KEY).toString('base64');\nconst resp = await helpers.httpRequest({ method: 'POST', url: 'https://rest.clicksend.com/v3/sms/send', headers: { Authorization: auth, 'Content-Type': 'application/json' }, body: { messages: [{ source: 'n8n', from: $env.CLICKSEND_DEDICATED_NUMBER, to: $env.OWNER_MOBILE, body: text }] }, json: true });\nreturn [{ json: { ...d, owner_flag_sms: resp } }];"
      },
      "id": "wf6-owner-flag-low",
      "name": "ClickSend Owner: Low-confidence Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 640]
    },
    {
      "parameters": {
        "content": "## Workflow 6 - Support Enquiry\nTrigger: contact form webhook (/contact-form).\n\n- **Retention keywords** (cancel, cancelling, leaving, switching, cheaper, competitor, too expensive, not worth): apply 10%_LOYALTY coupon keZywUSF (3 months) via Stripe, SMS the customer the loyalty message, and flag the owner.\n- **Otherwise**: Claude (claude-sonnet-4-20250514) answers using the Prisoncall KB. High confidence -> auto-reply email. Low confidence -> flag owner.\n- Owner flag SMS goes to OWNER_MOBILE for any flagged enquiry (ClickSend dedicated number).",
        "height": 240,
        "width": 460
      },
      "id": "wf6-note",
      "name": "About this workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, 60]
    }
  ],
  "connections": {
    "Contact Form Webhook": { "main": [[{ "node": "Parse Enquiry", "type": "main", "index": 0 }]] },
    "Parse Enquiry": { "main": [[{ "node": "Retention Keyword Check", "type": "main", "index": 0 }]] },
    "Retention Keyword Check": { "main": [[{ "node": "Retention keywords found?", "type": "main", "index": 0 }]] },
    "Retention keywords found?": {
      "main": [
        [{ "node": "Apply 10% Loyalty Coupon", "type": "main", "index": 0 }],
        [{ "node": "Claude AI Reply", "type": "main", "index": 0 }]
      ]
    },
    "Apply 10% Loyalty Coupon": { "main": [[{ "node": "ClickSend Loyalty SMS", "type": "main", "index": 0 }]] },
    "ClickSend Loyalty SMS": { "main": [[{ "node": "ClickSend Owner: Retention Flag", "type": "main", "index": 0 }]] },
    "Claude AI Reply": { "main": [[{ "node": "AI confidence high?", "type": "main", "index": 0 }]] },
    "AI confidence high?": {
      "main": [
        [{ "node": "Outlook: Auto-reply", "type": "main", "index": 0 }],
        [{ "node": "ClickSend Owner: Low-confidence Flag", "type": "main", "index": 0 }]
      ]
    }
  }
}
